In [2]:
import pandas as pd
import time
import re

In [3]:
path = r'C:\Users\Magsihim_AI\Desktop\Project_Statbotics\full_table2.csv'

df = pd.read_csv(path)

In [4]:
#delete
#actual_time, event_key, post_result_time, time, videos,

In [5]:
df

,actual_time,comp_level,event_key,key,match_number,post_result_time,set_number,time,videos,winning_alliance,...,teleopReef_topRow_nodeI,teleopReef_topRow_nodeJ,teleopReef_topRow_nodeK,teleopReef_topRow_nodeL,teleopReef_trough,wallAlgaeCount,team_number,scorePenaltyFree,possition,alliance
0,1.742056e+09,f,2025alhu,2025alhu_f1m1,1,1.742056e+09,1,1.742056e+09,"[{'key': 'NSWVoO4ZDEs', 'type': 'youtube'}]",blue,...,True,False,False,True,0.0,0.0,frc2783,124.0,1,red
1,1.742058e+09,f,2025alhu,2025alhu_f1m2,2,1.742058e+09,1,1.742057e+09,"[{'key': '1FpcfKgS3kw', 'type': 'youtube'}]",blue,...,True,True,True,False,0.0,0.0,frc2783,144.0,1,red
2,1.741960e+09,qm,2025alhu,2025alhu_qm1,1,1.741960e+09,1,1.741960e+09,"[{'key': 'mAbsfvQlhaw', 'type': 'youtube'}]",red,...,False,False,False,False,5.0,2.0,frc5045,129.0,1,red
3,1.741965e+09,qm,2025alhu,2025alhu_qm10,10,1.741965e+09,1,1.741965e+09,"[{'key': 'xrkAU-qZY-E', 'type': 'youtube'}]",red,...,True,True,True,True,1.0,0.0,frc538,112.0,1,red
4,1.741965e+09,qm,2025alhu,2025alhu_qm11,11,1.741965e+09,1,1.741965e+09,"[{'key': 'ae-lJ4geVPg', 'type': 'youtube'}]",blue,...,False,True,True,True,1.0,1.0,frc6107,61.0,1,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114469,1.752379e+09,sf,2025xxmel,2025xxmel_sf5m1,1,1.752379e+09,5,1.752378e+09,[],red,...,False,False,False,False,6.0,0.0,frc9995,64.0,3,blue
114470,1.752379e+09,sf,2025xxmel,2025xxmel_sf6m1,1,1.752379e+09,6,1.752379e+09,[],blue,...,False,False,False,False,1.0,0.0,frc9991,72.0,3,blue
114471,1.752380e+09,sf,2025xxmel,2025xxmel_sf7m1,1,1.752380e+09,7,1.752380e+09,[],red,...,False,False,False,False,0.0,0.0,frc9994,65.0,3,blue
114472,1.752380e+09,sf,2025xxmel,2025xxmel_sf8m1,1,1.752380e+09,8,1.752381e+09,[],red,...,False,True,True,True,14.0,0.0,frc9993,73.0,3,blue
114473,1.752381e+09,sf,2025xxmel,2025xxmel_sf9m1,1,1.752381e+09,9,1.752381e+09,[],red,...,False,False,False,False,1.0,0.0,frc9991,57.0,3,blue

In [6]:
df.drop(['actual_time', 'key', 'post_result_time', 'time', 'videos', 'adjustPoints'], axis=1, inplace=True)

In [7]:
df

,comp_level,event_key,match_number,set_number,winning_alliance,score,algaePoints,autoBonusAchieved,autoCoralCount,autoCoralPoints,...,teleopReef_topRow_nodeI,teleopReef_topRow_nodeJ,teleopReef_topRow_nodeK,teleopReef_topRow_nodeL,teleopReef_trough,wallAlgaeCount,team_number,scorePenaltyFree,possition,alliance
0,f,2025alhu,1,1,blue,124,32.0,False,4.0,28.0,...,True,False,False,True,0.0,0.0,frc2783,124.0,1,red
1,f,2025alhu,2,1,blue,144,28.0,False,3.0,21.0,...,True,True,True,False,0.0,0.0,frc2783,144.0,1,red
2,qm,2025alhu,1,1,red,129,28.0,False,3.0,21.0,...,False,False,False,False,5.0,2.0,frc5045,129.0,1,red
3,qm,2025alhu,10,1,red,118,8.0,True,3.0,21.0,...,True,True,True,True,1.0,0.0,frc538,112.0,1,red
4,qm,2025alhu,11,1,blue,67,14.0,False,1.0,3.0,...,False,True,True,True,1.0,1.0,frc6107,61.0,1,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114469,sf,2025xxmel,1,5,red,64,0.0,False,1.0,3.0,...,False,False,False,False,6.0,0.0,frc9995,64.0,3,blue
114470,sf,2025xxmel,1,6,blue,72,0.0,False,1.0,4.0,...,False,False,False,False,1.0,0.0,frc9991,72.0,3,blue
114471,sf,2025xxmel,1,7,red,77,32.0,False,1.0,3.0,...,False,False,False,False,0.0,0.0,frc9994,65.0,3,blue
114472,sf,2025xxmel,1,8,red,79,0.0,False,2.0,10.0,...,False,True,True,True,14.0,0.0,frc9993,73.0,3,blue
114473,sf,2025xxmel,1,9,red,61,0.0,False,0.0,0.0,...,False,False,False,False,1.0,0.0,frc9991,57.0,3,blue

In [8]:
#change
#endGame, team_number, alliance, comp_level, event_key, winning_alliance, autoLine

In [9]:
df['endGame'].unique()

array(['Parked', 'DeepCage', 'Nothing', 'ShallowCage'], dtype=object)

In [10]:
df['endGame'] = df['endGame'].map({'Nothing': 0, 'Parked': 1, 'ShallowCage': 2, 'DeepCage': 3})

In [11]:
df['red'] = df['alliance'] == 'red'
df['blue'] = df['alliance'] == 'blue'

In [12]:
df['winning_red'] = df['winning_alliance'] == 'red'
df['winning_blue'] = df['winning_alliance'] == 'blue'

In [13]:
df.drop(['alliance', 'winning_alliance'], axis = 1, inplace = True)

In [14]:
# df['team_number'] = df['team_number'].map(lambda x: int(re.search(r'\d+', x).group()))

In [26]:
df['team_number'] = df['team_number'].map(
    lambda x: int(re.search(r'\d+', str(x)).group() + ("1" if str(x).strip().endswith("B") else ""))
)

In [27]:
df['comp_level'].unique()

array([2, 0, 1], dtype=int64)

In [28]:
df['comp_level'] = df['comp_level'].map({'qm': 0, 'sf': 1, 'f': 2})

In [29]:
# df['event_key'] = pd.factorize(df['event_key'])[0]

In [30]:
df['autoLine'] = df['autoLine'].map({'Yes': True, 'No': False})

In [31]:
df

,comp_level,event_key,match_number,set_number,score,algaePoints,autoBonusAchieved,autoCoralCount,autoCoralPoints,autoLine,...,teleopReef_trough,wallAlgaeCount,team_number,scorePenaltyFree,possition,red,blue,winning_red,winning_blue,win
0,NaN,2025alhu,1,1,124,32.0,False,4.0,28.0,NaN,...,0.0,0.0,2783,124.0,1,True,False,False,True,False
1,NaN,2025alhu,2,1,144,28.0,False,3.0,21.0,NaN,...,0.0,0.0,2783,144.0,1,True,False,False,True,False
2,NaN,2025alhu,1,1,129,28.0,False,3.0,21.0,NaN,...,5.0,2.0,5045,129.0,1,True,False,True,False,True
3,NaN,2025alhu,10,1,118,8.0,True,3.0,21.0,NaN,...,1.0,0.0,538,112.0,1,True,False,True,False,True
4,NaN,2025alhu,11,1,67,14.0,False,1.0,3.0,NaN,...,1.0,1.0,6107,61.0,1,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114469,NaN,2025xxmel,1,5,64,0.0,False,1.0,3.0,NaN,...,6.0,0.0,9995,64.0,3,False,True,True,False,False
114470,NaN,2025xxmel,1,6,72,0.0,False,1.0,4.0,NaN,...,1.0,0.0,9991,72.0,3,False,True,False,True,True
114471,NaN,2025xxmel,1,7,77,32.0,False,1.0,3.0,NaN,...,0.0,0.0,9994,65.0,3,False,True,True,False,False
114472,NaN,2025xxmel,1,8,79,0.0,False,2.0,10.0,NaN,...,14.0,0.0,9993,73.0,3,False,True,True,False,False
114473,NaN,2025xxmel,1,9,61,0.0,False,0.0,0.0,NaN,...,1.0,0.0,9991,57.0,3,False,True,True,False,False

In [32]:
df_info = pd.DataFrame({
    'column': df.columns,
    'non_nulls': df.notnull().sum(),
    'dtype': df.dtypes
}).reset_index(drop=True)

In [33]:
df_info['dtype'].unique()

array([dtype('float64'), dtype('O'), dtype('int64'), dtype('bool')],
      dtype=object)

In [34]:
df['win'] = ((df['blue'] & df['winning_blue']) | (df['red'] & df['winning_red']))

In [35]:
df

,comp_level,event_key,match_number,set_number,score,algaePoints,autoBonusAchieved,autoCoralCount,autoCoralPoints,autoLine,...,teleopReef_trough,wallAlgaeCount,team_number,scorePenaltyFree,possition,red,blue,winning_red,winning_blue,win
0,NaN,2025alhu,1,1,124,32.0,False,4.0,28.0,NaN,...,0.0,0.0,2783,124.0,1,True,False,False,True,False
1,NaN,2025alhu,2,1,144,28.0,False,3.0,21.0,NaN,...,0.0,0.0,2783,144.0,1,True,False,False,True,False
2,NaN,2025alhu,1,1,129,28.0,False,3.0,21.0,NaN,...,5.0,2.0,5045,129.0,1,True,False,True,False,True
3,NaN,2025alhu,10,1,118,8.0,True,3.0,21.0,NaN,...,1.0,0.0,538,112.0,1,True,False,True,False,True
4,NaN,2025alhu,11,1,67,14.0,False,1.0,3.0,NaN,...,1.0,1.0,6107,61.0,1,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114469,NaN,2025xxmel,1,5,64,0.0,False,1.0,3.0,NaN,...,6.0,0.0,9995,64.0,3,False,True,True,False,False
114470,NaN,2025xxmel,1,6,72,0.0,False,1.0,4.0,NaN,...,1.0,0.0,9991,72.0,3,False,True,False,True,True
114471,NaN,2025xxmel,1,7,77,32.0,False,1.0,3.0,NaN,...,0.0,0.0,9994,65.0,3,False,True,True,False,False
114472,NaN,2025xxmel,1,8,79,0.0,False,2.0,10.0,NaN,...,14.0,0.0,9993,73.0,3,False,True,True,False,False
114473,NaN,2025xxmel,1,9,61,0.0,False,0.0,0.0,NaN,...,1.0,0.0,9991,57.0,3,False,True,True,False,False

In [36]:
df.to_csv('final_table.csv', index=False)